
//user-nav

.user-nav {
  display: grid;
  grid-template-columns: min-content 1fr auto min-content;
  min-height: 51px;
  border-bottom: 1px solid var(--basic-grey--300);
  box-sizing: border-box;
}

//sections-use

.sections-user__link {
  display: block;
  padding: 15px 26px 15px 36px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black--600);
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: 1px 50%;
  text-decoration: none;
}

//search-site

.search-site {
  position: relative;
}

.search-site__button {
  position: absolute;
  top: 7px;
  left: 18px;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.search-site__search {
  width: 100%;
  padding: 17px 15px 17px 54px;
  border: none;
  border-left: 1px solid var(--basic-grey--300);
}

//subscribe-user

.subscribe-user {
  display: flex;
}

.subscribe-user__link {
  display: flex;
  align-items: center;
  column-gap: 11px;
  width: 195px;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;

  p {
    margin: 0;
  }
}

.subscribe-user__box-img {
  align-self: flex-end;
  margin: 0;
}

.subscribe-user__img {
  display: block;
}

.subscribe-user__title {
  font-weight: 700;
  color: var(--basic-black--600);
}

.subscribe-user__price {
  color: var(--basic-grey--500);
}

//authorization

.authorization {
  margin: 0;
  padding: 0;
  list-style: none;
}

.authorization__link {
  display: block;
  width: 97px;
  padding: 15px 0 15px 50px;
  text-align: right;
  color: var(--basis-black--500);
  text-decoration: none;
  box-sizing: border-box;
  background-image: url("../img/icon-man.svg");
  background-repeat: no-repeat;
  background-position: 26px 50%;
}

//user-widget

.user-widget {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

//description

.description {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-right: 131px;
}

.description__box-img {
  margin: 0;
}

.description__img {
  display: block;
}

.description__text {
  margin: 0;
}

//logo-site

.logo-site__link {
  display: block;
}

//widget-site

.widget-site {
  display: flex;
  column-gap: 42px;
  margin-left: auto;
}

.widget-site__weather {
  width: 97px;
  padding-left: 45px;
  text-align: right;
  box-sizing: border-box;
  background-image: url("../img/icon-sun.svg");
  background-repeat: no-repeat;
  background-position: 24px;
}

//site-nav

.site-nav {
  background-color: var(--basic-black--600);
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex: none;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__link {
  display: block;
  padding: 17px 0 18px;
  font-weight: 700;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}
