//recommended

.recommended-news {
  display: grid;
  grid-template-columns: 1fr 264px;
  grid-template-rows: repeat(5, min-content) auto;
  grid-template-areas:
    "content header"
    "content preview"
    "content preview"
    "content preview"
    "content preview"
    "content preview";
  min-height: 570px;
  margin-bottom: 30px;
  background-color: var(--basic-white);
  border-radius: 10px;
  box-sizing: border-box;
}

.recommended-news__box-header {
  grid-area: header;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 27px;
}

.recommended-news__header {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.recommended-news__content {
  grid-area: content;
}

.recommended-news__box-title {
  margin: auto 0 26px;
  text-decoration: none;
}

.recommended-news__title {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.recommended-news__box-desc {
  margin-bottom: 39px;
}

.recommended-news__desc {
  margin: 0;
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 40px;
  line-height: 50px;
  color: var(--basic-white);
}

//content-news

.content-news__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 55px 55px 95px;
  background-color: var(--basic-grey--200);
  background-image: url(../img/content/bg-recommended-img/bg-image-news@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/content/bg-recommended-img/bg-image-news@2x.jpg);
  }
}

.content-news__link-author {
  display: flex;
  justify-self: start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 40px;
  text-decoration: none;
}

.author__box-img {
  flex: none;
  margin: 0;
  border-radius: 50%;
}

.author__img {
  display: block;
  border-radius: 50%;
}

.author__box-text {
  min-width: 0;
}

.author__name {
  margin: 0;
  color: var(--basic-white);
  opacity: 0.75;
}

.author__caption {
  font-size: 12px;
  line-height: 15px;
  color: var(--basic-white);
  opacity: 0.4;
}

//controls-content

.controls-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}

.controls-content__link-more {
  padding: 10px 22px 10px 25px;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--basic-blue);
  border-radius: 20px;
  box-sizing: border-box;

  svg {
    display: inline-block;
    margin-left: 8px;
    vertical-align: baseline;
  }
}

.controls-content__link-video {
  display: flex;
  flex: none;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  text-decoration: none;
  color: var(--basic-white);
}

.color-one {
  fill: var(--basic-white);
  opacity: 0.4;
}

.color-two{
  fill: var(--basic-white);
}

.color-one {
  fill: currentColor;
}

.controls-content__link-video:hover,
.controls-content__link-video:hover p,
.controls-content__link-video:hover time{
  color: var(--basic-orange);
}

.controls-content__text {
  margin: 0;
  opacity: 0.75;
}

.controls-content__time {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

//preview-new

.recommended-news__preview {
  grid-area: preview;
}

.preview-new {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview-new__item {
  padding: 13px 24px 19px 27px;
  border-top: 1px solid var(--basic-grey--300);
  box-sizing: border-box;

  &--current {
    background-color: var(--basic-grey--200);
  }

  &:last-child{
    height: 100%;
    border-bottom-right-radius: 10px;
  }

  a {
    text-decoration: none;
  }
}

.preview-new__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  &--mdfElem0 {
    color: var(--basic-aqua);
  }

  &--mdfElem1 {
    color: var(--basic-cadetblue);
  }

  &--mdfElem2 {
    color: var(--basic-violet);
  }

  &--mdfElem3 {
    color: var(--basic-orange);
  }

  &--mdfElem4 {
    color: var(--basic-aquamarine);
  }
}

.preview-new__link-desc {
  color: var(--basic-black--500);
}

.preview-new__lead-desc {
  margin: 0;

  svg {
    margin-left: 4px;
    vertical-align: bottom;
  }
}
