:root {
  --transparent: transparent;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black--700: #30363d;
  --basic-black--600: #262d33;
  --basic-black--500: #4b5157;
  --basic-grey--500: #939699;
  --basic-grey--400: #bcbfc2;
  --basic-grey--300: #d9dadb;
  --basic-grey--200: #f5f5f5;
  --basic-grey--100: #edeff0;
  --text-decoration--none: none;

  --basic-aqua: #3bbdc4;
  --basic-aquamarine: #3dc47e;
  --basic-cadetblue: #6e99ae;
  --basic-cadetblue--100: #b4d1e0;
  --basic-cadetblue--050: #d1e2eb;
  --basic-violet: #ac8ee3;
  --basic-light-mallow: #e7d9ff;
  --basic-orange: #eea34d;
  --basic-blue: #4592ff;
  --basic-blue-frost: #c5e4fc;
  --basic-red: #ff4f52;
  --basic-red--100: #eb5757;
}
