:root {
  --transparent: transparent;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black--600: #262d33;
  --basis-black--500: #4B5157;

  --basic-grey--200: #939699;
  --basic-grey--100: #d9dadb;

  --text-decoration--none: none;
}
