.slider-article__list {
  position: relative;
  border: 1px solid var(--basic-grey--300);
  border-radius: 10px;
  box-sizing: border-box;
}

//slider-article__image
.slider-article__image {
  margin: 0;
  padding: 0;
}

.slider-article__img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

//article-content__toggles
.article-content__toggles {
  position: absolute;
  top: 247px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 33px;
  box-sizing: border-box;
  z-index: 5;

  button:last-of-type {
    transform: rotate(180deg);
  }
}

.article-content__toggle {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: var(--transparent);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

//slider-article__user
.slider-article__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 34px;
  height: 69px;
  padding-left: 34px;
  color: var(--basic-black--500);
}

.slider-article__text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//slider-article__author-box
.slider-article__author-box {
  display: flex;
  flex: none;
  align-items: center;
  width: 215px;
  height: 69px;
  padding-left: 31px;
  padding-right: 15px;
  border-left: 1px solid var(--basic-grey--300);
}

.slider-article__author-link {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 9px;
  text-decoration: none;
  color: inherit;
}

.slider-article__author-avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 0;
  padding: 0;

  img {
    display: block;
  }
}

.slider-article__author-name {
  align-self: center;
  margin: 0;
}

.slider-article__author-meta {
  font-size: 12px;
  line-height: 15px;
  color: var(--basic-grey--500);
}
